<!DOCTYPE html>
<html>
<head>
  <title>Happy Hoe Grocery</title>
  <link rel="stylesheet" href="/public/css/login.css">
</head>
<body class="firstPage">
  <header>
    <h2 id="welcome-heading" style="font:italic ; color: black;"> Happy Hoe Grocery</h2>
  </header>
  <form>
    <div class="row">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="row">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="row">
      <button id="login-button">Login</button>
    </div>
    <div class="row">
      <p>Don't have an account? <button id="Signup-button">Sign-Up</button></p>
    </div>
    <input type="checkbox" id="remember-me" />
    <label for="remember-me" style="font-size: small;">Stay Logged-in</label>
  </form>
  <footer>
    <p id="tagline">© Copyright 2024.All rights reserved.</p>
  </footer>
  <script src="/public/scripts/login.js"></script>
</body>
</html>